<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
  <a routeLinks="home">Code with Dannelysbeth</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="1" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="p-3 flex justify-between">
        <span class="mr-16">1 items</span>
        <a routeLink="cart">View Cart</a>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
